extends ../templates/main


include ../../components/_ui/button/button
include ../../components/_ui/input/input
include ../../components/_ui/checkbox/checkbox
include ../../components/_ui/radio/radio

block variables
	- const title = 'Главная'
	- const description = 'Описание главной страницы'

block content
	section.container
		.map#map

	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBREqUKauI77cYULR3nNl6E7MpBwiW9UKc")